.App {
  text-align: center;
}
/* feature slider */
.featureSwiper {
  padding: 50px 0px 100px !important;
}
.text-gradiant{
  background: linear-gradient(90.45deg, #3DCDFF 14.49%, #B119FF 100.69%);
-webkit-background-clip: text;
-webkit-text-fill-color: transparent;
background-clip: text;
text-fill-color: transparent;
}

.featureSwiper .swiper-pagination {
  display: block;
  position: absolute;
  left: 50% !important;
  transform: translate(-50%, -50%);
  width: auto !important;
  bottom: 0px !important;
  z-index: 50 !important;
  margin: 0;
}
.featureSwiper .swiper-pagination-bullet {
  /* padding: 5px 10px; */
  border-radius: 50%;
  width: 24px !important;
  height: 24px !important;
  text-align: center;
  opacity: 1;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #6e81ff;
}
.featureSwiper .swiper-pagination-bullet-active {
  background: #6e81ff !important;
}

.featureSwiper .swiper-button-next:after,
.featureSwiper .swiper-button-prev:after {
  font-size: 18px;
  font-weight: 900;
  color: #fff;
  border: 1px solid #6e81ff !important;
  padding: 15px 20px;
  border-radius: 50%;
}
.featureSwiper .swiper-button-prev {
  left: 15px;
  z-index: 100 !important;
}
.featureSwiper .swiper-button-next {
  right: 15px;
}
.custom-gradiant {
  background: linear-gradient(96.01deg, #F24BE0 -3.95%, rgba(61, 205, 255, 0.9) 56.62%, #B119FF 91.85%);
}
.custom-shadow {
  box-shadow: 0px 4.22694px 33.8155px rgba(61, 205, 255, 0.5);
}

/*user profile */
.custom-user-bg {
  background: linear-gradient(
    122.79deg,
    rgba(255, 255, 255, 0.1) 5.39%,
    rgba(255, 255, 255, 0.03) 63.48%
  );
}

/* new raffle */

::-webkit-calendar-picker-indicator {
  filter: invert(1);
}
.custom-form-bg {
  background: linear-gradient(
    122.79deg,
    rgba(255, 255, 255, 0.1) 5.39%,
    rgba(255, 255, 255, 0.03) 63.48%
  );
}
.custom-raffle-card {
  border: 0.997775px solid #f24be0;
  box-shadow: 0px 4.22694px 33.8155px rgba(61, 205, 255, 0.5);
  border-radius: 7.9822px;
}

/* /swiper slider */
.featureSwiper .swiper-button-prev,
.featureSwiper .swiper-button-next {
  display: none;
}


/* custom-border */
.custom-border{
  
    border: 1px solid transparent;
    position: relative;
    border-radius: 13px;
   
}
.custom-border::before{
  content: "";
  position: absolute;
  inset: 0;
  border-radius:13px;
  padding: 1px;
  
  background: linear-gradient(90.45deg, #3DCDFF 14.49%, #B119FF 100.69%);
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
          mask-composite: exclude;
  pointer-events: none;
    

}

@media (max-width: 640px) {
  .featureSwiper .swiper-pagination-bullet {
    width: 12px !important;
    height: 12px !important;
  }
}
